.clients {
  padding-top: 64px;
  padding-bottom: 94px;
}

.clients__title {
  margin-bottom: 50px;
  text-align: center;
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.clients__list {
  display: flex;
}

.clients__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  fill: $icons-color;
  border: 1px solid $icons-color;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link {
  &:hover,
  &:focus {
    border-color: $accent-color;
    fill: $accent-color;
  }
}
