.footer {
  display: block;
  width: auto;
  background-color: $dark-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section {
  text-align: center;
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    text-align: left;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  color: $hero-text-color;
  font-size: 24px;
  line-height: 1.17;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.footer__address {
  margin-bottom: 8px;
  color: $hero-text-color;
  line-height: 1.71;
  font-style: normal;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer__nav-link {
  color: $footer-text-color;
  line-height: 1.12;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts--item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.footer__contacts--item {
  &:last-child {
    margin-right: 0;
  }
}

.footer__nav-link {
  &:hover,
  &:focus,
  &active {
    color: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contacts {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  color: $hero-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.footer__social-media {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-left: 165px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: auto;
  }
}

.footer__social-icon {
  fill: $hero-text-color;
}

.footer__subscription {
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 0;
    align-items: center;
    text-align: center;
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    text-align: left;
  }
}

.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.footer__label {
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: auto;
  }
}

.footer__input {
  padding-left: 12px;
  height: 50px;
  width: 100%;
  background-color: transparent;
  color: $hero-text-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    width: 358px;
    margin-right: 12px;
  }
}

.footer-button__block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.footer-button__text {
  margin-right: 10px;
  text-align: center;
}
