.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: $hero-background-color;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 480px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("/images/index/hero-mobile.jpeg");
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 58, 57, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/index/hero-mobile2x.jpeg");
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/index/hero-tablet.jpeg");
  }
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 58, 57, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/index/hero-tablet2x.jpeg");
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/index/hero-desktop.jpeg");
  }
  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 58, 57, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("/images/index/hero-desktop2x.jpeg");
  }
}

.hero__title {
  color: $hero-text-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.625;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
