.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  border-radius: 4px;
  background-color: $hero-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.modal__button--close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $hero-text-color;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.modal__icon--close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__icon--close {
  &:hover,
  &:focus {
    fill: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  margin-bottom: 12px;
}

.modal__request {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: $primary-text-color;
  text-align: left;
  margin-bottom: 4px;
}

.modal__form {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
}

.modal__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__textarea {
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0%, -50%);

  .modal__input:focus + & {
    fill: $accent-color;
    border-color: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.modal__input,
.modal__textarea {
  &:focus {
    border: 1px solid $accent-color;
    outline: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contract__label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.contract__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $title-text-color;
  border-radius: 2px;
  .contract__checkbox:checked + & {
    background-image: url(../images/check-icon.svg);
    background-color: $accent-color;
    border-color: $accent-color;
    background-size: contain;
    background-origin: border-box;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.contract__text {
  margin-left: 8.38px;
}

.contract__conditions {
  text-decoration-line: underline;
  color: $accent-color;
}

.modal__button--submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contract__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
}
