.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.page-header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: $title-text-color;
}

.logo-web {
  color: $accent-color;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
  color: $title-text-color;
}

.nav-list__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: $primary-text-color;
}

.contact-list__item {
  &:last-child {
    margin-left: 50px;
  }
}

.nav-link,
.contact-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: 0.03em;
  align-items: center;
}

.current {
  color: $accent-color;
}

.nav-link {
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}

.nav-link {
  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
  }
}

.current {
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
