.portfolio__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__img {
  display: block;
  width: 100%;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item {
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__item {
  &:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.portfolio__item {
  &:nth-child(n + 7) {
    margin-bottom: 0;
  }
}

.portfolio-card {
  position: relative;
  overflow: hidden;
}

.portfolio-card__description {
  padding: 20px 24px;
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
}

.portfolio-card__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card__text {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio__overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $hero-text-color;
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  height: 294px;
  width: 370px;
  padding-right: 24px;
  padding-left: 24px;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  &:hover {
    .portfolio__overlay {
      transform: translateY(0%);
    }
  }
}
