$hero-text-color: #ffffff;
$primary-text-color: #757575;
$title-text-color: #212121;
$primary-background-color: #e5e5e5;
$hero-background-color: #c4c4c4;
$dark-background-color: #2f303a;
$grey-background-color: #f5f4fa;
$accent-color: #2196f3;
$icons-color: #afb1b8;
$footer-text-color: rgba(255, 255, 255, 0.6);
$primary-font-family: "Roboto", sans-serif;
